{% extends 'BloggerAdminBundle::layout.html.twig' %}

{% block body %}
    <h2>Edit Categories:</h2>
    <h2 id="add_post"><a href="{{ path('BloggerAdminBundle_category_new') }}">+ Add new Category</a></h2>
    {% for cat in pagination %}
        <article class="post isDefault{% if cat.isDefault %}{{ 1 }}{% else %}{{ 0 }}{% endif %}">
            <header>
                <h3><a href="{{ path('BloggerAdminBundle_category_edit', { 'catId': cat.id }) }}">{{ cat.name }}</a> | {{ cat.slug }}</h3>
            </header>
            <div class="date">Posts in category: {{ cat.postCount(false) }}</div>
            {% if cat.parent %}
            <div class="date">Parent category: {{ cat.parent.name }}</div>
            {% endif %}
            {% if cat.isDefault %}
            {% else %}
            <a class="delete_link" href="{{ path('BloggerAdminBundle_category_delete', { 'catId': cat.id }) }}">Delete Category</a>
            {% endif %}
        </article>
    {% else %}
        <p>There are no categories for symfony-blog</p>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
