<form action="{% if create  %}{{ path('BloggerAdminBundle_post_create') }}{% else %}{{ path('BloggerAdminBundle_post_submitEdition', { 'postId': post.id }) }}
                {% endif %}"
method="post" {{ form_enctype(form) }} class="blogger">

    {{ form_widget(form) }}
    {{ form_rest(form) }}
    <p>
        <input type="submit" value="Save">
    </p>
    {{ tinymce_init() }}
</form>