{# src/Blogger/BlogBundle/Resources/views/Page/sidebar.html.twig #}

<section class="section">
    <header>
        <h3>Categories</h3>
    </header>
    <ul class="categories">
        {% for category in categories %}
        <li style="padding-left: {{ category['offset']*20 }}px"><a href="{{ path('BloggerBlogBundle_category', { 'slug': category['category'].slug }) }}">{{ category['category'].name }}</a> ({{ category['category'].postCount }})</li>
        {% endfor %}
    </ul>
</section>
<section class="section">
    <header>
        <h3>Tag Cloud</h3>
    </header>
    <p class="tags">
        {% for tag in tags %}
        <a href="{{ path('BloggerBlogBundle_tag', { 'slug': tag.slug }) }}" style="font-size:{{ tag.weight }}px" title="{{ tag.postedpostCount }}">{{ tag }}</a>
        {% else %}
        <p>There are no tags</p>
        {% endfor %}
    </p>
</section>
<section class="section">
    <header>
        <h3>Latest Comments</h3>
    </header>
    {% for comment in latestComments %}
        <article class="comment">
            <header>
                <p class="small"><span class="highlight">{{ comment.user }}</span> commented on
                    <a href="{{ path('BloggerBlogBundle_post_show', { 'id': comment.post.id , 'slug': comment.post.slug }) }}#comment-{{ comment.id }}">
                        {{ comment.post.title }}
                    </a>
                    [<em><time datetime="{{ comment.created|date('c') }}">{{ comment.created|created_ago }}</time></em>]
                </p>
            </header>
            <p>{{ comment.comment }}</p>
        </article>
    {% else %}
        <p>There are no recent comments</p>
    {% endfor %}
</section>