<form action="{% if create  %}{{ path('BloggerAdminBundle_blog_create') }}{% else %}{{ path('BloggerAdminBundle_blog_submitEdition', { 'blogId': blog.id }) }}
                {% endif %}"
method="post" {{ form_enctype(form) }} class="blogger">

    {{ form_widget(form) }}
    {{ form_rest(form) }}
    <p>
        <input type="submit" value="Save">
    </p>
</form>